version: "3.9"

services:
  db:
    image: postgres:15
    container_name: db
    restart: unless-stopped
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "${DB_PORT}:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5

  service:
    build: .
    env_file: .env
    container_name: pr_service
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8080:8080"
    command: ["/bin/sh", "-c", "
      goose -dir /app/internal/sql/schema postgres \
        \"postgres://${DB_USER}:${DB_PASSWORD}@db:${DB_PORT}/${DB_NAME}?sslmode=disable\" up &&
      ./serv
    "]

volumes:
  db-data:
